<h1>My tasks</h1>

<div class="my_tasks">
  <% @tasks.each do |task| %>
    <% completed = task.completed ? "fa-check-square" : "fa-square" %>
    <p>
      <i class="far <%= completed %>"></i>
      <%= link_to task[:title], task_path(task) %>

      <%= link_to task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="add_task">
  <%= link_to "Add a new task", tasks_new_path %>
</div>
